.logo{
    font-size: 35px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.logo span{
    color: rgb(43, 43, 136);
}

.navbar a {
    position: relative;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 28px;
    padding: 5px 0;
}